body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.template5-main-mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  background: #191765;
  width: 375px;
  height: 5415px;
}

.app-bar {
  position: absolute;
  width: 420px;
  height: 92px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 16px;
  padding-bottom: 20px;
}

.time {
  position: absolute;
  width: 50px;
  height: 16px;
  left: 5px;
  top: 16px;
}

.name {
  position: static;
  padding-top: 70px;
  padding-left: 10px;
}

.Cellular_Connection-path1 {
  position: absolute;
  width: 3px;
  height: 4px;
  right: 78.33px;
  top: 24.33px;
  left: 293.67px;
  background: #fff;
}

.Cellular_Connection-path2 {
  position: absolute;
  width: 3px;
  height: 6px;
  top: 22.33px;
  left: 298.33px;
  right: 73.67px;
  background: #fff;
}

.Cellular_Connection-path3 {
  position: absolute;
  width: 3px;
  height: 8.33px;
  top: 20px;
  left: 303px;
  right: 69px;
  background: #fff;
}

.Cellular_Connection-path4 {
  position: absolute;
  width: 3px;
  height: 10.67px;
  top: 17.67px;
  left: 307.67px;
  right: 64.33px;
  background: #fff;
}

.battery-border {
  position: absolute;
  height: 11.33px;
  width: 22px;
  left: 338px;
  right: 17px;
  top: 17.33px;
  border-radius: 2.66px;
  mix-blend-mode: normal;
  opacity: 0.35;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.battery-capacity {
  position: absolute;
  width: 18px;
  height: 7.33px;
  left: 340px;
  top: 19.33px;
  right: 17px;
  background: #fff;
  border-radius: 1.33333px;
}

.battery-cap {
  position: absolute;
  height: 5px;
  width: 1.6px;
  left: 359px;
  top: 21px;
  border-radius: 0;
  opacity: 0.4;
  mix-blend-mode: normal;
  background: #fff;
}

.union {
  position: absolute;
  height: 22.83px;
  width: 35.33px;
  left: 7.33px;
  top: 13.58px;
  border-radius: 0;
}

.vector1 {
  position: absolute;
  width: 33.33px;
  top: 78.42px;
  left: 301.33px;
  right: 40.33%;
  bottom: 5336.58%;
  border: 2px solid #acb7c3;
}

.vector2 {
  position: absolute;
  width: 33.33px;
  top: 68px;
  left: 301.33px;
  right: 40.33%;
  bottom: 5347%;
  border: 2px solid #acb7c3;
}

.vector3 {
  position: absolute;
  width: 33.33px;
  top: 57.58px;
  left: 301.33px;
  right: 40.33%;
  bottom: 5357.42%;
  border: 2px solid #acb7c3;
}

.top-circle {
  position: absolute;
  height: 563px;
  width: 513px;
  left: -106px;
  top: 0;
  border-radius: 0;
}

.ellipse1 {
  position: absolute;
  height: 160px;
  width: 160px;
  right: 321px;
  left: -106px;
  top: 97px;
  bottom: 5158px;
  border-radius: 0;
  background: #edecff;
  filter: blur(50px);
}

.ellipse2 {
  position: absolute;
  height: 68px;
  width: 68px;
  left: 339px;
  top: 495px;
  border-radius: 0;
  bottom: 5158px;
  background: #edecff;
  filter: blur(50px);
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: static;
  height: 194px;
  width: 360px;
  left: 24px;
  right: 24px;
  top: 40px;
  border-radius: 0;
}

.primary-text {
  position: static;
  width: 327px;
  height: 55px;
  left: 0;
  top: 0;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  line-height: 72px;
  letter-spacing: 0.37px;
  text-align: center;
  color: #7d73fc;
}

.supporting-text {
  position: static;
  width: 327px;
  height: 87px;
  left: 0;
  top: 70px;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  padding: 40px;
  color: #edecff;
}

.advert-text {
  position: static;
  width: 310px;
  height: 180px;
  left: 0;
  top: 0;
  justify-content: space-evenly;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #c8c8d4;
}

.vector4 {
  position: absolute;
  height: 0;
  width: 327px;
  left: 24px;
  right: 24px;
  top: 536px;
  bottom: 4879px;
  border-radius: 0;
  border: 2px solid#646369;
}
