*{
    padding: 0px;
    margin: 0px;

}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}


.template5-main-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 24px;

    background: #191765;
    position: relative;
    width: 375px;
    height: 5415px;
}


.app-bar {
    position: absolute;
    width: 420px;
    height: 92px;
    left: 0px;
    top: 0px;

    display: flex;
    align-items: center;
    text-align: center;
    line-height: 16px;
    /* border: #ffffff solid 1px; */
}

.time {
    position: absolute;
    width: 50px;
    height: 16px;
    left: 5px;
    top: calc(15% - 16px/2 + 0.5px);
}

.name {
    position: static;
    width: 81px;
    height: 16px;
    left: 10px;
    top: 10px;
}
/* 
.statusBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    line-height: 16px;
  

} */
.Cellular_Connection-path1 {
    position: absolute;
    width: 3px;
    height: 4px;
    right: 78.33px;
    top: 24.33px;
    left: 293.67px;
    background: #ffffff;   
}
.Cellular_Connection-path2 {
    position: absolute;
    width: 3px;
    height: 6px;
    top: 22.33px;
    left: 298.33px;
    right: 73.67px;
    background: #ffffff;   
}

.Cellular_Connection-path3 {
    position: absolute;
    width: 3px;
    height: 8.33px;
    top: 20px;
    left: 303px;
    right: 69px;
    background: #ffffff;   
}

.Cellular_Connection-path4 {
    position: absolute;
    width: 3px;
    height: 10.67px;
    top: 17.67px;
    left: 307.67px;
    right: 64.33px;
    background: #ffffff;   
}

.wifi-path1 {
    position: absolute;
    width: 4.63px;
    height: 3.40px;
    top: 25.0px;
    left: 321.02px;
    right: 49.36px;
 
    border-radius: 40%;
    background: #ffffff;
}

.wifi-path2 {
    position: absolute;
    width: 9.95px;
    height: 3.65px;
    top: 21.20px;
    left: 321.02px;
    right: 46.69px;
    border-radius: 40%;
    background: #ffffff;
    /* fill: white; */
}

.wifi-path3 {
    position: absolute;
    width: 15.27px;
    height: 4.74px;
    top: 17.40px;
    left: 315.69px;
    right: 44.03px;
    border-radius: 40%;
    background: #ffffff;
}

.battery-border {
position: absolute;
 height: 11.33px;
width: 22px;
left: 338px;
right: 17px;
top: 17.33px;
border-radius: 2.66px;

mix-blend-mode: normal;
opacity: 0.35;
border: 1px solid #ffffff;
box-sizing: border-box;
}

.battery-capacity{
 position: absolute;
 width: 18px;
height: 7.33px;
left: 340px;
top: 19.33px;
right: 17.0px;
border-radius: 1.33px;
background: #ffffff;
border-radius: 1.33333px;
}

.battery-cap {
    position: absolute;
    height: 5px;
width: 1.60px;
left: 359px;
top: 21px;
border-radius: 0px;
opacity: 0.4;
mix-blend-mode: normal;
background: #ffffff;

}

.union {
position: absolute;
 height: 22.83px;
width: 35.33px;
left: 7.33px;
top: 13.58px;
border-radius: 0px;
}

.vector1 {
    position: absolute;
    width: 33.33px;
    top: 78.42px;
    left: 301.33px;
    right: 40.33%;
    bottom: 5336.58%;
    border: 2px solid #acb7c3;
}

.vector2 {
    position: absolute;
    width: 33.33px;
    top: 68px;
    left: 301.33px;
    right: 40.33%;
    bottom: 5347%;
    border: 2px solid #acb7c3;
}

.vector3 {
    position: absolute;
    width: 33.33px;
    top: 57.58px;
    left: 301.33px;
    right: 40.33%;
    bottom: 5357.42%;
    border: 2px solid #acb7c3;
}










/* 
.Cellular_Connection-path2  {
    position: absolute;
    width: 3px;
    height: 6px;
    right: 73.67px;
    top: 73.67px;
    color: #ffffff;
} */
