body {
  /* overflow: hidden; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 4px;
}

.template5-main-mobile {
  justify-items: center;
  padding-top: 200px;
  background: #191765;
  width: 375px;
  height: 5415px;
}

.app-bar {
  position: absolute;
  width: 200px;
  height: 92px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 16px;
  padding-bottom: 20px;
}

.fa-solid {
  position: absolute;
  font-size: 30px;
  left: 301.33px;
  top: 50px;
  color: #c8c8d4;
}

.time {
  position: absolute;
  width: 50px;
  height: 16px;
  left: 5px;
  top: 16px;
}

.name {
  position: static;
  padding-top: 50px;
  padding-left: 10px;
  color: #edecff;
}

a {
  text-decoration: none;
}

.top-circle {
  position: absolute;
  height: 563px;
  width: 513px;
  left: -106px;
  top: 0;
  border-radius: 0;
}

.ellipse1 {
  position: absolute;
  height: 160px;
  width: 160px;
  right: 321px;
  left: -106px;
  top: 97px;
  bottom: 5158px;
  border-radius: 0;
  background: #edecff;
  filter: blur(50px);
}

.ellipse2 {
  position: absolute;
  height: 68px;
  width: 68px;
  left: 339px;
  top: 495px;
  border-radius: 0;
  bottom: 5158px;
  background: #edecff;
  filter: blur(50px);
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.primary-text {
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.57px;
  text-align: center;
  color: #7d73fc;
}

.supporting-text {
  width: 327px;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 4px;
  letter-spacing: 0;
  text-align: center;
  color: #edecff;
}

.advert-text {
  position: static;
  width: 280px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #c8c8d4;
}

.vector4 {
  position: absolute;
  height: 0;
  width: 327px;
  left: 24px;
  right: 24px;
  top: 650px;
  bottom: 4879px;
  border-radius: 0;
  border: 1px solid#646369;
}

.vector5 {
  position: absolute;
  height: 0;
  width: 327px;
  left: 24px;
  right: 24px;
  top: 1100px;
  bottom: 4879px;
  border-radius: 0;
  border: 1px solid#646369;
}

.section-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  height: 462.15px;
  padding-left: 36px;
  padding-top: 100px;
  border-radius: 0;
  color: #f5f5ff;
}

.section-2 h2 {
  color: #9490ff;
}

.section-2 p {
  font-size: 10px;
  font-style: italic;
}

.language {
  position: static;
  width: 156px;
  height: 214.15px;
  left: 147px;
}

.frameworks {
  position: static;
  width: 156px;
  height: 214.15px;
  left: 147px;
}

.skills {
  position: static;
  width: 156px;
  height: 214.15px;
  left: 147px;
}

.icons {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  padding-bottom: 60px;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  color: #edecff;
}

.work-tag {
  display: flex;
  width: 50px;
  align-items: center;
  flex-flow: row;
  padding-left: 180px;
  padding-bottom: 50px;
  color: #edecff;
}

.my-work h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  padding-left: 24px;
  padding-bottom: 35px;
  color: #9490ff;
  width: 327px;
  height: 104px;
}

.vector6 {
  position: absolute;
  height: 0;
  width: 327px;
  left: 24px;
  right: 24px;
  bottom: 4879px;
  border-radius: 0;
  border: 1px solid#646369;
}

.my-work-1 {
  position: static;
  padding-left: 24px;
  padding-right: 24px;
  width: 327px;
  height: 236px;
  color: #f5f5ff;
  padding-bottom: 380px;
}

.my-work-1 p {
  font-family: 'Harmattan', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #dcdce8;
}

.img-placeholder {
  width: 327px;
  height: 236px;
  background: linear-gradient(0deg, #f9f9f9, #f9f9f9);
}

.tech-used {
  width: 320px;
  word-spacing: 20px;
  line-height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

.button {
  background-color: #7d73fc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

.my-work-2 {
  position: static;
  padding-left: 24px;
  padding-right: 24px;
  width: 327px;
  height: 236px;
  top: 2249px;
  color: #f5f5ff;
  padding-bottom: 380px;
}

.my-work-2 p {
  font-family: 'Harmattan', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #dcdce8;
}

.my-work-3 {
  position: static;
  padding-left: 24px;
  padding-right: 24px;
  width: 327px;
  height: 236px;
  padding-bottom: 380px;
  color: #f5f5ff;
}

.my-work-3 p {
  font-family: 'Harmattan', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #dcdce8;
}

.my-work-4 {
  position: static;
  padding-left: 24px;
  padding-right: 24px;
  width: 327px;
  height: 236px;
  padding-bottom: 480px;
  color: #f5f5ff;
}

.my-work-4 p {
  font-family: 'Harmattan', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #dcdce8;
}

.contact-text h1 {
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 32px;
  line-height: 45px;
  color: #9390ff;
}

.contact-text p {
  font-family: 'Harmattan', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  color: #dcdce8;
}

form {
  margin: 0 auto;
  width: 332px;
  height: 800px;
  padding: 20px;
  padding-top: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  display: inline-block;
  width: 90px;
  text-align: center;
  color: #edecff;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

textarea {
  height: 200px;
}
